*{
    padding: 0;
    margin: 0 auto;
    font-family: sans-serif;
  
}

#sidebar {
    position:middle;
    width: 608px;
    height: 100%;
    background: #57626f;
    border-right:4px solid #e0e5ea ;
    left: -250px;
}

#sidebar ul li:first-child {
    text-align:center;
    color:white;
    font: size 1.95em;
    list-style:none;
    padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
  width: 90%;
    margin-left:10%;
    font-size: 1.1em;
    list-style:none;
    padding: 15px 10px;
}

#sidebar ul li a{
    color:#dfe5eb;
    text-decoration: none;
}

#sidebar ul li a:hover
{
    color:#59e9df
}

